*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial;
}
@font-face{
    font-family: myFont1;
    src:url(font1.otf);
}
@font-face{
    font-family: myFont2;
    src:url(font2.otf);
}
@font-face{
    font-family: myFont3;
    src:url(font3.ttf);
}
body {
    
    background: #10344e;
    color:#ededed;
}



.cfvideo{
    height: 9vh;
    color: white;
    position: relative;

}
.cfvideo::before {   
    content: '';
    position: absolute;
    inset: 0;
    background: rgba(14, 21, 39, 0.8);
    z-index: -1;

}
video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
    z-index: -2;
}
.cfvideo img{
    width: 300px;
    height: 300px;
    margin-left: 700px;
    margin-top: 200px;
    opacity: 70%;

}
.header {
    position: fixed;
    top: 0px;
    width: 100%;
    height: 50px;
    padding: 1px 20%;
    background: #081b29;
    display: flex;
    align-items: center;
    z-index: 100;
}

.logo {

    font-size: 25px;
    color: #ededed;
    text-decoration: none;
    font-weight: 600;
    margin-left: -110px;
}
.header img{
    width: 40px;
    height: 40px;
    margin-left: -125px;
    border: 4px solid rgb(6, 201, 250);
    border-radius: 50%;
    border-width: 2px;
         
}

.navbar a {
    font-size: 15px;
    font-family: myfont3;
    letter-spacing: 2px;
    color:#ededed;
    text-decoration: none;
    
    left: 150px;
    margin: 10px;
    position: relative;
    transition: .4s;
}

.navbar a:hover,
.navbar a .active {
    color:#039ad6;
    transform: translateY(-5px);
    
    
}

.home {
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0 100px;
}


.home-content{
    
    max-width: 600px;

}
.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    line-height: 1.3;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation:
    typing 3s steps(30),
    cursor .4s step-end infinite; 
    
}
@keyframes cursor{
    50% { border-color: white}

}
@keyframes typing{
    from { width: 0 }

}
.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    color:#039ad6
}

.home-content li{
    font-size: 13px;
    font-family: Arial;
    letter-spacing: 1px;
    margin: 10px 0 40px;
}
.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
    
}
.btn-box a {
    position: relative;
    top: .1rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    background: #00abf0;
    border: 2px solid #00abf0;
    border-radius: 8px;
    font-size: 19px;
    color: #081b29;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}
.btn-box a:hover{
    color: #00abf0;
}
.btn-box a:nth-child(2) {  
    background: transparent;
    color: #00abf0;
    
}
.btn-box a:nth-child(2):hover {  
    color: #081b29;
    
}
.btn-box a:nth-child(2)::before {  
    background: #00abf0;
    
}
.btn-box a::before {  
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #081b29;
    z-index: -1;
    transition: .5s;
}

.btn-box a:hover::before {  
    width: 100%;
}

#title1{
    text-align: center;
    font-family: myfont1;
    letter-spacing: 2px;
    width: 300px;
    color:#e6e6e6; 
    top: 110%;
    left: 32%;
    transform: translate(-50%,-50%);
    background: transparent;
    border-radius: 10px;
    border: 5px solid rgb(255, 255, 255);
    position: absolute;
    transition: .3s ease-in-out;         
}
#title1:hover{
    color: #00abf0;
    
}
#graph1 {
    color:#de7d07;
    background:#081b29;
    border: 5px solid white; 
    width: 200px;
    height: 250px;
    padding-top: 40px;
    border-radius: 15px;
    text-align: center;
    top: 120%;
    left: 100px;
    font-size: 20px;
    position: absolute;
    transition: .3s ease-in-out;    
}
#graph1:hover{
    transform: scale(1.5);
}

#graph1 p{
    font-size: 14px;
    color: antiquewhite;
    top:40%;
    position: absolute;   
}

#graph2 {
    color:#de7d07;
    background:#081b29;
    border: 5px solid white;
    width: 200px;
    height: 250px;
    padding-top: 40px;
    border-radius: 15px;
    text-align: center;
    top: 120%;
    left: 340px;
    font-size: 20px;
    position: absolute;
    transition: .3s ease-in-out;  
}
#graph2:hover{
    transform: scale(1.5);
    
}
#graph2 p{
    font-size: 15px;
    color: antiquewhite;
    top: 40%;
    position: absolute;
}
#graph3 {
    color:#de7d07;
    background:#081b29;
    border: 5px solid white;
    width: 200px;
    height: 250px;
    padding-top: 40px;
    border-radius: 15px;
    text-align: center;
    top: 120%;
    left: 580px;
    font-size: 20px;
    position: absolute; 
    transition: .3s ease-in-out;     
}
#graph3:hover{
    transform: scale(1.5);
}
#graph3 p{
    font-size: 14px;
    top: 40%;
    color: antiquewhite;
    position: absolute;
}

.cert1{
    position: absolute;
    width: 500px;
    height: 380px;
    top: 225%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 10px solid rgb(5, 147, 230);
    border-radius: 30px;  
    box-shadow: 10px 25px 28px rgba(0,0,0,0.3);
    overflow: hidden;
}

.img-cert{
    width: 100%;
    display: flex;
    animation: slide 16s infinite;
}

img{
    width: 100%;
}

@keyframes slide{   /*slide image from rigth to left*/
    0% {transform: translateX(0);}
    25% {transform: translateX(0);}
    30% {transform: translateX(-100%);}
    50% {transform: translateX(-100%);}
    55% {transform: translateX(-200%);}
    75% {transform: translateX(-200%);}
    80% {transform: translateX(-300%);}
    100% {transform: translateX(-300%);}
}

.foot {
    width: 100%;
    height: 117px;
    letter-spacing: 2px;
    color:#ffffff;
    background: #081b29;
    text-align: center;
    margin-top: 1200px;
    margin-left: 0%;
    font-size: smaller;
    font-family: myFont2;     
}
.foot a{
    text-decoration: none;
    width: 100%;
    height: 100px;
    color:#ffffff;
    text-align: center;
    margin-top: 1080px;
    margin-left: 5px;
    font-family: myFont2; 
}
.foot p{
    margin-left: 30px;
    font-size: 10px;
    font-family: myFont1;
}

.foot .icons i{
    font-size: 20px;
    top: -50px;
    left: 400px;
    color:#ededed;
    font-weight: 500;
    margin-left: 4px;
    transition: .4s;
    position: relative;
}

.foot .icons i:hover{
    color: #039ad6;
    transform: translateY(-6px);
}

/*Experience*/
.experience h3{
    position: relative;
    color: #0ba2ed;
    margin-left: 5rem;
    column-count: 1;
}
.experience p{
    position: relative;
    color: #b7c7cd;
    margin-left: 5rem;
    font-size: 25px;
    border: 5px solid rgb(203, 200, 195);
    border-spacing: 5px;
    width: 50%;
    text-align: justify;
    text-align: center;
    
}
body{
    margin-left: 0;
    margin-right: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    text-align: left;
    
    
}
@media only screen and(min-width: 400px){
    .cfvideo{
        visibility: collapse;
    }
    .header{
        visibility: visible;
    }
}
/*
.container-body {     /*this is for destop sizing media
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media (max-width: 1536px){
    .container-body{
        max-width: 1280px;
    }
}
@media (max-width: 1280px){
    .container-body{
        max-width: 1024px;
    } 
}
@media (max-width: 1024px){
    .containe-body{
        max-width: 768px;
    }
}
@media (max-width: 768px){
    .container-body{
        max-width: 640px;
    }
}
@media (max-width: 640px){
    .container-body{
        max-width: 475px;
    }
}
@media (max-width: 475px){
    .container-body{
        width: 100%;
    }
}
/*
body {     /*this is for mobile sizing
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

@media (min-width: 475px){
    .container-body{
        max-width: 475px;
    }
}
@media (min-width: 640px){
    .container-body{
        max-width: 640px;
    } 
}
@media (min-width: 768px){
    .container-body{
        max-width: 768px;
    }
}
@media (min-width: 1024px){
    .container-body{
        max-width: 1024px;
    }
}
@media (min-width: 1280px){
    .container-body{
        max-width: 1280px;
    }
}
@media (min-width: 1536px){
    .container-body{
        max-width: 1536px;
    }
}  

*/
